header {
    background-color: lightgrey;
    letter-spacing: 1px;
}
nav {
    border: 1px solid black;
    line-height: 2;
    letter-spacing: 1px;
    padding-left: 5px;
}
body{
    margin: 10;
    padding: 3%;
    border: 1px solid black;
}
footer{
    text-align: center;
    margin-top:10%;
    height: 10%;
    color: darkblue
}
