.fontSize1 {
  font-size: 40px;
}
.fontSize2 {
  font-size: small;
}
.fontSize3 {
  font-size: medium;
}
.fontSize4 {
  font-size: large;
}
.fontSize5 {
  font-size: xx-large;
}

.fontSize6 {
  font-size: xx-small;
}
.fontSize7 {
  font-size: 2%;
}
.fontSize8 {
  font-size: 20%;
}
.fontSize9 {
  font-size: 80%;
}
.fontSize10 {
  font-size:  200%;
}
.fontSize11 {
  font-size:  300%;
}

#lineSize1 {
  width:50%; height: 5px
}
#lineSize2 {
  width:50px; height: 25px
}
#lineSize3 {
  width:75%; height: 10px; background-color: rgb(0, 0, 255); margin-left: 0pt;
}
#lineSize4 {
  border-width: 10px; width:60%; height: 50px; border-color:rgb(0, 255, 0); background-color: rgb(255, 0, 0); margin-right: 0pt;
}

.letraNegro{
  color: black; font-weight:bold; font-size: xx-large;
}
.letraBlanca{
  color: white; font-weight:bold; font-size: xx-large; background-color: #00FFFF
}
.letraRoja{
  color: red; font-weight:bold; font-size: xx-large;
}
.letraVerde{
  color: lime; font-weight:bold; font-size: xx-large;
}
.letraAzul{
  color: blue; font-weight:bold; font-size: xx-large;
}
.letraAmarilla{
  color: yellow; font-weight:bold; font-size: xx-large;
}
.letraFucsia{
  color: fuchsia; font-weight:bold; font-size: xx-large;
}
